<footer>
    <div class="bg-black bg-opacity-75 py-5">
        <div class="container text-center text-white">
            <div class="row gy-5">
                <div class="col-md-4 p-0">
                    <h3>LOCATION</h3>
                    <p> 2215 John Daniel Drive
                    </p>
                    <span>Clark, MO 65243</span>
                </div>
                <div class="col-md-4 p-0">
                    <h3>AROUND THE WEB</h3>
                    <i class="fa-brands fa-facebook border p-2 rounded-circle"></i>
                    <i class="fa-brands fa-twitter ms-3 border p-2 rounded-circle"></i>
                    <i class="fa-brands fa-linkedin ms-3 border p-2 rounded-circle"></i>
                    <i class="fa-solid fa-globe ms-3 border p-2 rounded-circle"></i>
                </div>
                <div class="col-md-4 p-0">
                    <h3>ABOUT FREELANCER</h3>
                    <p class="small">Freelance is a free to use, licensed Bootstrap theme created by Route</p>
                </div>
            </div>
        </div>
    </div>
    <div class="bg-dark text-center text-white py-3">
        <p class=" mb-0">Copyright © Your Website 2021</p>
    </div>
</footer>