<main class="pad">
    <div class="bg-success py-5">
        <div class="container text-center">
            <div class="w-25 m-auto">
                <img src="images/avataaars.svg" class="img-fluid" alt="avataaars">
            </div>
            <div class="text-white py-5">
                <h2>START FRAMEWORK</h2>
                <div class="line bg-white"></div>
                <i class="fa-solid fa-star py-3 mx-3"></i>
                <div class="line bg-white"></div>
                <p class="mb-0">Graphic Artist - Web Designer - Illustrator</p>
            </div>
        </div>
    </div>
</main>